.card {
  position: relative;
  padding: 10px;
  width: 18rem;
}

.icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.card_img {
  height: 18rem;
  padding: 10px;
}

.card_title{
    font-size: 18px;
}

.price{
    font-weight: 800;
}

Button{
    width: 100%;
}