@import "_variables.scss";

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}